html, body {
    margin: 10px;
    background-color: var(--surface-b);
    font-family: var(--font-family);
}

.text-layout {
    /* lo obtendrá del tema que hayamos elegido de la variable --text-color */
    /* node_modules/primeng/resources/themes/vela-purple/theme.css */
    color:var(--text-color);
}